@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.fifthQuestionPage__message {
    width: 259px;
    height: 84px;
    background-color: #FFF;
    border-radius: 5px;
    margin: auto;
    padding: 0 12px 0;
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    animation: 1s fadeIn linear;
}

.fifthQuestionPage__message p {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    font-family: Bad Script;
}

.fifthQuestionPage__message::after {
    content: '';
    position: absolute;
    right: 18px; 
    bottom: -9px;
    width: 0;
    height: 0;
    border-top: 18px solid #FFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    z-index: -1;
}